.jumbotron {
	background-color: blue;
	color: black;
	margin-top: 50px;
	/* margin-top sirve para que no quede tan pegado de la barra*/
}

footer {
	padding: 10px 10px 0 10px;
	background-color: grey;
	color: black;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-right: 10px;
}

.footer-address-icon{
	padding-right: 10px;
}